In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from pathlib import Path



plt.style.use("ggplot")
sns.set(font_scale=1.2)

In [15]:
dirName=Path("..")/ "data"
FD="FD004"
columnNames=['unit', 'cycle'] + [f"op{i}" for i in range(1,4)] + [f"s{i}" for i in range(1,22)]
train = pd.read_csv(dirName/f'train_{FD}.txt' , sep=r"\s+", header = None, names=columnNames)
test = pd.read_csv(dirName/f'test_{FD}.txt', sep="\s+", header = None, names=columnNames)
RUL= pd.read_csv(dirName/f'RUL_{FD}.txt', sep="\s+", header=None).squeeze()

print(train.shape)
print(test.shape)
print(RUL.shape)

(61249, 26)
(41214, 26)
(248,)

In [25]:
train.columns

Index(['unit', 'cycle', 'op1', 'op2', 'op3', 's1', 's2', 's3', 's4', 's5',
       's6', 's7', 's8', 's9', 's10', 's11', 's12', 's13', 's14', 's15', 's16',
       's17', 's18', 's19', 's20', 's21'],
      dtype='object')

In [29]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61249 entries, 0 to 61248
Data columns (total 26 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   unit    61249 non-null  int64
 1   cycle   61249 non-null  int64
 2   op1     61249 non-null  float64
 3   op2     61249 non-null  float64
 4   op3     61249 non-null  float64
 5   s1      61249 non-null  float64
 6   s2      61249 non-null  float64
 7   s3      61249 non-null  float64
 8   s4      61249 non-null  float64
 9   s5      61249 non-null  float64
 10  s6      61249 non-null  float64
 11  s7      61249 non-null  float64
 12  s8      61249 non-null  float64
 13  s9      61249 non-null  float64
 14  s10     61249 non-null  float64
 15  s11     61249 non-null  float64
 16  s12     61249 non-null  float64
 17  s13     61249 non-null  float64
 18  s14     61249 non-null  float64
 19  s15     61249 non-null  float64
 20  s16     61249 non-null  float64
 21  s17     61249 non-null  int64
 22  s18     61249 non-null  int64
 23  s19     61249 non-null  float64
 24  s20     61249 non-null  float64
 25  s21     61249 non-null  float64
dtypes: float64(22), int64(4)
memory usage: 12.1 MB

In [33]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41214 entries, 0 to 41213
Data columns (total 26 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   unit    41214 non-null  int64
 1   cycle   41214 non-null  int64
 2   op1     41214 non-null  float64
 3   op2     41214 non-null  float64
 4   op3     41214 non-null  float64
 5   s1      41214 non-null  float64
 6   s2      41214 non-null  float64
 7   s3      41214 non-null  float64
 8   s4      41214 non-null  float64
 9   s5      41214 non-null  float64
 10  s6      41214 non-null  float64
 11  s7      41214 non-null  float64
 12  s8      41214 non-null  float64
 13  s9      41214 non-null  float64
 14  s10     41214 non-null  float64
 15  s11     41214 non-null  float64
 16  s12     41214 non-null  float64
 17  s13     41214 non-null  float64
 18  s14     41214 non-null  float64
 19  s15     41214 non-null  float64
 20  s16     41214 non-null  float64
 21  s17     41214 non-null  int64
 22  s18     41214 non-null  int64
 23  s19     41214 non-null  float64
 24  s20     41214 non-null  float64
 25  s21     41214 non-null  float64
dtypes: float64(22), int64(4)
memory usage: 8.2 MB

In [34]:
RUL.info()

<class 'pandas.core.series.Series'>
RangeIndex: 248 entries, 0 to 247
Series name: 0
Non-Null Count  Dtype
--------------  -----
248 non-null    int64
dtypes: int64(1)
memory usage: 2.1 KB

In [35]:
RUL.values

array([ 22,  39, 107,  75, 149,  78,  94,  14,  99, 162, 143,   7,  71,
       105,  12, 160, 162, 104, 194,  82,  91,  11,  26, 142,  39,  92,
        76, 124,  64, 118,   6,  22, 147, 126,  36,  73,  89,  11, 151,
        10,  97,  30,  42,  60,  85, 134,  34,  45,  24,  86, 119, 151,
       142, 176, 157,  67,  97,   8, 154, 139,  51,  33, 184,  46,  12,
       133,  46,  46,  12,  33,  15, 176,  23,  89, 124, 163,  25,  74,
        78, 114,  96,  10, 172, 166, 115,  70,  94,  56,  86,  96,  50,
        73, 154, 129, 171,  71, 105, 113,  37,   7,  13,  22,   9, 120,
       100, 107,  41, 153, 126,  59,  18,  66,  13,  14, 139,  13,  75,
         8, 109, 137,  41, 192,  23,  86, 184,  15, 195, 126, 120, 165,
       101, 116, 126,  36,   7, 122, 159,  88, 173, 146, 130, 108,  53,
       162,  59, 100,  56, 145,  76,  57,  31,  88, 173,  34,   7, 133,
       172,   6,  22,  83,  82,  84,  95, 174, 111,  72, 109,  87, 179,
       158, 126,  12,   8,  10, 123, 103,  12, 106,  12,  32,  37, 116,
        15,  10,  46, 142,  24, 135,  56,  43, 178,  71, 104,  15, 166,
        89,  36,  11,  92,  96,  59,  13, 167, 151, 154, 109, 116,  91,
        11,  88, 108,  76,  14,  89, 145,  17,  66, 154,  41, 182,  73,
        39,  58,  14, 145,  88, 162, 189, 120,  98,  33, 184, 110,  68,
        24,  75,  18,  16, 166,  98, 176,  81, 118,  35, 131, 194, 112,
        26])

In [24]:
train['unit'].nunique()

249

In [28]:
train.describe()

,unit,cycle,op1,op2,op3,s1,s2,s3,s4,s5,...,s12,s13,s14,s15,s16,s17,s18,s19,s20,s21
count,61249.000000,61249.000000,61249.000000,61249.000000,61249.000000,61249.000000,61249.000000,61249.000000,61249.000000,61249.000000,...,61249.000000,61249.000000,61249.000000,61249.000000,61249.000000,61249.000000,61249.000000,61249.000000,61249.000000,61249.000000
mean,124.325181,134.311417,23.999823,0.571347,94.031576,472.882435,579.420056,1417.896600,1201.915359,8.031626,...,266.735665,2334.427590,8067.811812,9.285604,0.023252,347.760029,2228.613283,97.751396,20.864333,12.518995
std,71.995350,89.783389,14.780722,0.310703,14.251954,26.436832,37.342647,106.167598,119.327591,3.622872,...,138.479109,128.197859,85.670543,0.750374,0.004685,27.808283,145.472491,5.369424,9.936396,5.962697
min,1.000000,1.000000,0.000000,0.000000,60.000000,445.000000,535.480000,1242.670000,1024.420000,3.910000,...,128.310000,2027.570000,7845.780000,8.175700,0.020000,302.000000,1915.000000,84.930000,10.160000,6.084300
25%,60.000000,62.000000,10.004600,0.250700,100.000000,445.000000,549.330000,1350.550000,1119.490000,3.910000,...,134.520000,2387.910000,8062.630000,8.648000,0.020000,330.000000,2212.000000,100.000000,10.940000,6.566100
50%,126.000000,123.000000,25.001400,0.700000,100.000000,462.540000,555.740000,1367.680000,1136.920000,7.050000,...,183.450000,2388.060000,8083.810000,9.255600,0.020000,334.000000,2223.000000,100.000000,14.930000,8.960100
75%,185.000000,191.000000,41.998100,0.840000,100.000000,491.190000,607.070000,1497.420000,1302.620000,10.520000,...,371.400000,2388.170000,8128.350000,9.365800,0.030000,368.000000,2324.000000,100.000000,28.560000,17.135500
max,249.000000,543.000000,42.008000,0.842000,100.000000,518.670000,644.420000,1613.000000,1440.770000,14.620000,...,537.490000,2390.490000,8261.650000,11.066300,0.030000,399.000000,2388.000000,100.000000,39.890000,23.885200